* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Mohave, sans-serif;
}

h1 {
    padding-bottom: 30px;
}

h1, .h2-map {
    text-align: center;
    padding-top: 20px;
}

.info-contacto-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info-contacto, .barbertruck {
    width: 50%;
}

.info-contacto {
    padding-left: 100px;
}

.redes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.barbertruck {
    padding-top: 20px;
}

.img-barbertruck {
    align-self: center;
    width: 800px;
    max-width: 70%;
    margin-left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.map-container {
    display: flex;
    justify-content: center;
}

.map {
    max-width: 90%;
    padding-bottom: 20px;
}

/* ESTILOS AL HEADER */

.header-content {
    /* border: 2px red dashed; */
    display: flex;
    justify-content: space-around;
}

.burger {
    padding: 10px;
    margin: auto 0px;
    font-size: 22px;
    text-align: center;
    width: 40px;
    color: #FAF7EE;
}

.icons .fa-solid {
    width: 40px;
    color: #FAF7EE;
}

.top-main {
    width: 80%;
    margin: 30px auto 0;
}

.form-consulta {
    width: 80%;
    margin: 50px auto;
    /* text-align: center; */
}

.form-consulta label {
    display: block;
}

.form-consulta input {
    width: 70%;
    padding: 8px 16px;
    border: 1px solid grey;
    border-radius: 10px;
}

.form-consulta textarea {
    width: 70%;
    padding: 8px 16px;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-consulta button {
    display: block;
    padding: 15px 30px;
    border: 1px solid grey;
    border-radius: 10px;
}

.submit {
    margin-bottom: 250px;
}

@media (max-width: 768px) {
    .info-contacto-container {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .info-contacto, .barbertruck {
        width: 100%;
    }
    .info-contacto {
        padding-left: 20px;
    }
}

@media (max-width: 500px) {
    .fa-brands, .fa-solid {
        padding-left: 0;
        padding-right: 0;
    }
    .fb-link, .ig-link, .wp-link, .gm-link {
        padding-left: 0;
        font-size: 16px;
    }
}