* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mohave, sans-serif;
}

/* ================= */
/* ESTILOS AL FOOTER */
/* ================= */

footer {
  background-color: #000000;
  color: #FAF7EE;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  height: 250px;
}

.container div {
  margin-top: 20px;
  width: 200px;
}

.container div ul {
  list-style-type: none;
  padding-left: 0;
}

.container div ul li {
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.social-networks {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social-networks a {
  font-size: 22px;
  text-decoration: none;
  color: #dddddd;
  padding: 5px;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #111111;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media (max-width: 768px) {
  .container {
    height: fit-content;
  }
}