#main-profile{
    margin: 3% 5% 5% 5%;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E1E1E1;
    padding: 1.2em;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
}

legend{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    margin-bottom: 1em;   
}

.img-user{
    display: flex;
    justify-content: center;
}
.img-profile {
    width: 100px;
    border-radius: 5px;
}

.info{
    display: flex;
    align-items: center;
}

.profile-data{
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: 1px solid #000000;
    color:#000000;
}

.column2{
    display: flex;
    padding: 1em;
    margin-bottom: 10px;
}

.edit-user, .btn-cortes {
    margin-top: 8px;
    font-size: 14px;
    padding: 8px 4px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

h4 {
    padding-top: 15px;
}

#dato{
    font-size: 15px;
}

@media (min-width: 768px){
    .info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }    
    .btn-cortes{
        width: 450px;
    }
}
