<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'Barbería Aukany' , css: 'home.css'
  }) %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>

      <h1>Barbería Aukany</h1>
      <p>La primera barbería con barber truck del norte argentino</p>

      <div class="local-container">
        <img src="/images/aukanylocal2.png" alt="local2" class="local2">
      </div>
      

      <h2>Aukany Barber Truck</h2>
      <div class="presentacion-container">
        <p class="presentacion">Con nuestro carro Aukany Barber Truck llevamos la experiencia de corte de cabello y barba a un nuevo nivel de comodidad y practicidad. 
          A pesar de su tamaño compacto, el Aukany Barber Truck está equipado con todo lo necesario para ofrecer servicios de barbería de primera calidad. 
          Desde compartimentos de almacenamiento para herramientas y productos hasta un espejo ajustable y una cómoda área de trabajo, este carro 
          tiene todo lo que un profesional necesita para brindar un servicio excepcional.
        </p>
        <i class="fa-solid fa-scissors"></i>
      </div>
      
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
