<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'Barbería Aukany' , css: 'home.css'
  }) %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>

      <h2>AQUI VA EL HOME DE AUKANY</h2>

    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
