<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'Sobre Nosotros' ,
  css:'nosotros.css'}) %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="nosotros">
        <div class="quienes-somos">
          <h1>QUIÉNES SOMOS</h1>
          <p>
            En Aukany, nos enorgullecemos de ser mucho más que una simple barbería. Somos un equipo apasionado 
            de barberos expertos que se esfuerzan por brindar a nuestros clientes una experiencia de cuidado personal 
            excepcional. Con una combinación de habilidad artística, atención meticulosa al detalle y un ambiente 
            acogedor, nos dedicamos a proporcionar cortes de cabello y afeitados de calidad que superan las expectativas.
          </p>
        </div>

        <div class="equipo">
          <h2>EL EQUIPO</h2>
          <p>
            Contamos con un equipo de barberos talentosos y dedicados que están constantemente 
            perfeccionando sus habilidades y manteniéndose al tanto de las últimas tendencias 
            en cortes de cabello y cuidado facial. Nos enorgullecemos de crear un ambiente acogedor 
            y amigable donde nuestros clientes se sientan cómodos y bienvenidos en todo momento.
          </p>
        </div>

        <div class="servicios">
          <h2>NUESTROS SERVICIOS</h2>
          <p>
            Desde cortes de cabello clásicos hasta estilos modernos y afeitados de precisión, 
            ofrecemos una amplia gama de servicios diseñados para satisfacer las necesidades 
            individuales de cada cliente. Ya sea que estés buscando un cambio drástico o simplemente 
            necesites un mantenimiento rápido, nuestro equipo está aquí para ayudarte a lucir y 
            sentirte lo mejor posible.
          </p>
        </div>

      <h2>El local</h2>
      <div class="img-container">
        <img src="/images/aukanylocal.png" alt="local" class="img-local">
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
