<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'Sobre Nosotros' ,
  css:'nosotros.css'}) %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="nosotros">
        <div class="quienes-somos">
          <h1>QUIENES SOMOS</h1>
          <p>
            En Aukany, nos enorgullecemos de ser mucho más que una simple barbería. Somos un equipo apasionado 
            de barberos expertos que se esfuerzan por brindar a nuestros clientes una experiencia de cuidado personal 
            excepcional. Con una combinación de habilidad artística, atención meticulosa al detalle y un ambiente 
            acogedor, nos dedicamos a proporcionar cortes de cabello y afeitados de calidad que superan las expectativas.
          </p>
        </div>

        <div class="equipo">
          <h2>EL EQUIPO</h2>
          <p>
            Contamos con un equipo de barberos talentosos y dedicados que están constantemente 
            perfeccionando sus habilidades y manteniéndose al tanto de las últimas tendencias 
            en cortes de cabello y cuidado facial. Nos enorgullecemos de crear un ambiente acogedor 
            y amigable donde nuestros clientes se sientan cómodos y bienvenidos en todo momento.
          </p>
        </div>

        <div class="servicios">
          <h2>NUESTROS SERVICIOS</h2>
          <p>
            Desde cortes de cabello clásicos hasta estilos modernos y afeitados de precisión, 
            ofrecemos una amplia gama de servicios diseñados para satisfacer las necesidades 
            individuales de cada cliente. Ya sea que estés buscando un cambio drástico o simplemente 
            necesites un mantenimiento rápido, nuestro equipo está aquí para ayudarte a lucir y 
            sentirte lo mejor posible.
          </p>
        </div>


      <div class="iframe-map">
        <h2>¿DONDE NOS ENCONTRAMOS?</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14118.420730470585!2d-
        64.2684613!3d-27.791137!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943b526d0e40e03f%3A0xacfb471ceea29d1f!2sBarberia%20Aukany!5e0!3m2!1ses-419!2sar!4v1706923409396!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
