<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/footer.css">
    <title>VENNER Vinoteca</title>
</head>

<footer>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/images/aukany-logo.png" alt="Logo de Venner"></a>
        </div>

        <div>
            <h4><strong>BARBERÍA AUKANY</strong></h4>
            <ul>
                <li>Av. Sáenz Peña 550</li>
                <li>Santiago del Estero Capital</li>
                <li>Teléfono: 0385 402-6471</li>
            </ul>
        </div>

        <div>
            <ul>
                <li><strong>Institucional</strong></li>
                <a href="/"><li>Inicio</li></a>
                <a href="/us"><li>¿Quiénes somos?</li></a>
                <a href="/contact"><li>Contacto</li></a>
                <a href="#"><li>Trabajá con nosotros</li></a>
            </ul>
        </div>

        <div>
            <h4><strong>Administrar</strong></h4>
            <ul>
                <a href="/users/login"><li>Login</li></a>
                <a href="/products/add"><li>Agregar cortes</li></a>
                <a href="/products"><li>Catálogo de cortes</li></a>
            </ul>
        </div>

        <div>
            <h4><strong>CONTACTANOS!</strong></h4>
            <ul class="social-networks">
                <li><a href="https://www.facebook.com/profile.php?id=100082290953658" class="fab fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/aukany_barberia/" class="fab fa-instagram"></a></li>
                <li><a href="https://wa.me/3854026471" class="fab fa-whatsapp"></a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; 2024 <b>Lucas L.</b> - Todos los derechos reservados.</p>
    </div>
</footer>