<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {title: "Iniciar Sesion", css: "login.css"}) %>

<body>

    <section class="left-section">

        <h2 class="txt1"><a href="/">Barbería Aukany</a></h2>


        <i class="fa-regular fa-circle-user icon-user"></i>

        <p class="iniciar-sesion">INICIA SESIÓN</p>

        <form action="/users/login" method="post" class="form">

            <div class="campo-container">
                <label for="email">CORREO</label>
                <div>
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="ejemplo@email.com" name="email" id="email">
                </div>
               
                <span><%= locals.errors && errors.email? errors.email.msg : "" %></span>
              
            </div>

            <div class="campo-container">
                <label for="password">CONTRASEÑA</label>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" id="password">
                    <i class="fa-regular fa-eye-slash icon-eye"></i>
                </div>
                <span><%= locals.errors && errors.password? errors.password.msg : "" %> </span>
                <section class="container-all">
                    <section class="container-remember">
                        <input type="checkbox" name="remember">
                        <p>Recordarme</p>
                    </section>

                    <a href="#">¿Olvidaste tu contraseña?</a>
                </section>
            </div>

            <button type="submit" class="btn">INICIAR SESIÓN</button>
        </form>

    </section>


    <section class="right-section">
        <p>Bienvenido</p>
        <P>Web app de Barbería Aukany</P>
    </section>
</body>

</html>